.TodoItem {
  position: relative;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  &:hover{
    background-color: #f0f0f040;
  }

  & .TodoItem-p {
    width: 100%;
    max-width: 360px;
    font-size: 1em;
    line-height: 24px;
    padding: 12px;
    border-left: 1px solid #f0f0f020;
    border-right: 1px solid #f0f0f020;
  }

  & .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;

    &.Icon-check:hover {
      color: #61dafb;
    }

    &.Icon-delete:hover {
      color: #9e2514;
    }
  }

  &.TodoItem--completed{
    opacity: 50%;

    & .TodoItem-p {
      text-decoration: line-through;
    }

    & .Icon-check {
      color: #61dafb;
    }
  }
}